.orders {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.order-filter {
	display: flex;
	flex-direction: row;
	padding: 30px;
}

.order-filter label {
	display: inline;
	margin: 0 10px;
}

.datepicker {
	display: inline;
}

.table-event {
	padding-top: 10px;
}

.event-table {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
